.headingTertiaryTour {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: right;
  position: absolute;
  bottom: 2.7rem;
  right: 1rem;
  width: 70%;
  z-index: 1;
}

.headingTertiaryTourDetails {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
}

.headingTertiaryTour span,
.headingTertiaryTourDetails span {
  padding: 0.5rem 0.75rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    rgba(134, 93, 255, 1),
    rgba(151, 222, 255, 1)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(134, 93, 255, 1),
    rgba(151, 222, 255, 1)
  );
}
